body {
    background-color: rgb(151, 96, 96);
}

.image {
    border-radius: 50%;
}

a {
    color: white;
}

ul {
    li: white;
}

img {
    width: 150px;
    margin: 20px;
    }

    html {
        font-family: sans-serif;
    }

    form {
        width: 600;
        margin: 0 auto;
    }

    div {
        margin-bottom: 10px;
    }

    fieldset {
        background: rgb(151, 96, 96);
        border: 5px solid black
    }

    legend {
        padding: 10px;
        background: rgb(151, 96, 96);
        color: black;
    }